services:
  web:
    image: nginx
    ports:
      - "81:80"
    volumes:
      - ./docker/Nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - .:/var/www/html

  php-fpm:
    image: php:8.1-fpm
    volumes:
      - .:/var/www/html

  postgres_db:
    image: postgres:13
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "54321:5432"